#main-content-container {
    
    
}

#chat-container {
    
    
}

#text-input {
    position: fixed;
    bottom: 0px;
    width: 500px;
    height: 50px;
    left: 450px;
}

#send-button {
    position: fixed;
    bottom: 0px;
    left: 952px;
    height: 56px;
    width: 100px;
}

#messageArea {
    padding: 1rem;
    border: solid 1px black;
    border-radius: 25px;
    width: 4rem;
    height: 0.8rem;
    margin-top: 1rem;
    margin-left: 1rem;
    background-color: rgb(100, 100, 220);
    
    
    
}

#messageArea p {
    display: flex;
    color: white;
    align-content: left;
}

#messageArea-reply {
    position: fixed;
    padding: 1rem;
    border: solid 1px black;
    border-radius: 25px;
    width: 4rem;
    height: 0.8rem;
    margin-top: 1rem;
    margin-left: 1rem;
    background-color: rgb(100, 100, 220);
    right: 0px;
    
}

#messageArea-reply p {
    display: flex;
    color: white;
    align-content: left;
    
}