

#chat-container {
    margin-top: 5rem;
    
    /*background-color: grey; */

}

#text-input {
    position: fixed;
    bottom: 0px;
    width: 500px;
    height: 50px;
}

#send-button {
    position: fixed;
    bottom: 0px;
    height: 56px;
    width: 100px;
}

#userName{
    margin-left: 3rem;
    margin-bottom: -1rem;
    font-style: italic;
    
}

#userNameBot{
    margin-left: 95%;
    margin-bottom: -2rem;
    font-style: italic;
    
}

#messageArea {
    padding: 1rem;
    border: solid 1px black;
    border-radius: 25px;
    height: 0.8rem;
    margin-top: 1rem;
    margin-left: 1rem;
    background-color: rgb(100, 100, 220);
    margin-bottom: 4rem;
    
    
}

#messageArea p {
    display: flex;
    color: white;
    align-content: left;
}



#messageArea-reply p {
    display: flex;
    color: white;
    align-content: left;
    
}

@media only screen and (max-width: 376px) {

    body {
        height: 812px;
        width: 375px;
    }

    #chat-container {
        width: 375px;
        height: 812px;
 
        position: absolute;
        left: 0px;
        bottom: 0px;
    }

    #message-container {
        position: absolute;
        width: 200px;
        height: 200px;
        left: 0px;
        top: 100px;
        
    }

    #text-input {
        position: fixed;
        bottom: 0px;
        width: 275px;
        height: 50px;
    }
    
    #send-button {
        position: fixed;
        bottom: 0px;
        right: 0px;
        height: 56px;
        width: 100px;
    }

    #messageArea {
        padding: 1rem;
        border: solid 1px black;
        border-radius: 25px;
        height: 0.8rem;
        margin-top: 1rem;
        margin-left: 1rem;
        background-color: rgb(100, 200, 100);
        margin-bottom: 4rem;
        
        
    }

    #messageArea-reply {
        padding: 1rem;
        border: solid 1px black;
        border-radius: 25px;
        width: 6rem;
        height: 0.8rem;
        margin-top: 2rem;
        background-color: rgb(100, 100, 220);
        margin-left: 15rem;
        
    }

    #userNameBot{
        margin-left: 17rem;
        margin-bottom: -2rem;
        font-style: italic;
        
    }

}